@model IEnumerable<backend.Models.ColorSchema>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.colorOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colorTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colorThree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colorFive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colorFour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.colorOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colorTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colorThree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colorFive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colorFour)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
